<div class="table-responsive">
    <table class="table table-hover " >
        <thead>
        <tr>
            <th></th>
            <th ng-click="sortType = 'title'; sortReverse = !sortReverse" style="cursor: pointer">
                Title
                <span ng-show="sortType === 'title' && !sortReverse"  class="glyphicon glyphicon-sort-by-attributes" ></span>
                <span ng-show="sortType === 'title' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </th>
            <th>Authors</th>
            <th ng-click="sortType = 'price'; sortReverse = !sortReverse" style="cursor: pointer">
                Price
                <span ng-show="sortType === 'price' && !sortReverse"  class="glyphicon glyphicon-sort-by-attributes" ></span>
                <span ng-show="sortType === 'price' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books | orderBy:sortType:sortReverse" ng-click="showBook(book.id)" style="cursor: pointer;">
            <td>
                <div style="height: 4em" >
                    <img ng-src="{{book.coverUrl}}" style="max-height: 100%"  error-src="resources/icons/default_book.png" class="img-responsive center-block"/>
                </div>
            </td>
            <td style="vertical-align: middle">{{book.title}}</td>
            <td style="vertical-align: middle">{{book.authors.join(", ")}}</td>
            <td style="vertical-align: middle">{{book.price | currency}}</td>
            <td style="vertical-align: middle">
                <uib-rating ng-model="book.stars" readonly="true"/>
            </td>
        </tr>

        </tbody>
    </table>
</div>